body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    background-color: #1f2937;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: white;
    color: #1f2937;
    height: 60px;
    width: 200px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.project-button {
    background-color: #1f2937;
    color: white;
}

.logo {
    cursor: pointer;
    height: 50px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
}

#stage-1 {
    height: 450px;
    display: flex;
}

#stage-1-left {
    width: 60%;
}

#stage-1-right {
    display: flex;
    justify-content: right;
    width: 40%;
}

#profile-photo {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

#welcome-text {
    font-weight: lighter;
    font-size: 100px;
}

#description-text {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 26px;
    min-width: 50px;
}

.top-section {
    height: 100%;
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}

#header-logo {
    font-weight: bold;
    font-family: "Sixtyfour", sans-serif;
    font-weight: 400;
    font-size: 48px;
    width: 850px;
    flex-shrink: 8;
}

#projects-text {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#projects-stage {
    display: flex;
}

.project-box {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    color: #1f2937;
    padding-top: 15px;
    padding-bottom: 15px;
}

.project-header {
    font-size: 40px;
    margin-bottom: 15px;
}

.project-thumbnail {
    width: 100%;
    margin-bottom: 15px;
}

.project-date {
    font-size: 18px;
    margin-bottom: 15px;
}

.project-tools {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.project-description {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
}